user_uuid="8e203587-d65a-4df1-8738-bb6a4d24a3b3"
bucket_name="kqxvb5j96gpkuhw40zaofsh5asit2mak"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1
